@model Service.Domain.Transaction

@{
    ViewBag.Title ="Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Fields</legend>

    <div class="display-label">What</div>
    <div class="display-field">@Model.What</div>

    <div class="display-label">When</div>
    <div class="display-field">@String.Format("{0:g}", Model.When)</div>

    <div class="display-label">HowMuch</div>
    <div class="display-field">@String.Format("{0:F}", Model.HowMuch)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
